.first-container {
  background-color: #032131;
  color: #000000;
  padding: 20px;
  min-height: 100vh; /* Adjusted for better responsiveness */
}

.first-container img {
  margin-top: -50px;
  margin-bottom: 10px;
  max-width: 100%;
  min-height: 300px; /* Ensures the image doesn't exceed its container's width */
  height: auto; /* Maintains aspect ratio */
}

.heading-3d {
  text-align: center; /* Center align text */
  text-transform: uppercase;
  font-size: 10vw; /* Responsive font size */
  color: #ffffff;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
