/* Background styling */
.background {
  background-color: #032131;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

/* Container for contact form and map */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Contact container styling */
.contact-container {
  background-color: #032131;
  border: 1px solid #032131;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  /* margin: 10px; */
  flex: 1 1 45%;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.contact-container h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.input-group {
  margin-bottom: 20px;
}

.input-field {
  
  width: 100%;
  padding: 15px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: #b24592;
  box-shadow: 0 0 10px rgba(178, 69, 146, 0.3);
}

.send-btn {
  width: 100%;
  padding: 15px;
  background-color: #4571b2;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.send-btn:hover {
  background-color: #219f77;
  transform: scale(1.05);
}

/* Map container styling */
.map-container {
  background-color: #ffffff;
  border: 0px solid #032131;
  margin: 10px;
  flex: 1 1 45%;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-container, .map-container {
    flex: 1 1 100%;
  }
}
